body {
  background-color: pink
}

img {
  width: 20%
}

h1 {color:white;
  font size 24px;
  font-family: script,arial,helvetica
  
}
.exp-header {
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
}
