body {
  background-color: pink;
  font-family: script,helvetica
  margin: 10% 20%;  
}

img {width:20%
  }


h1 {
  color:white;
  padding-left: 100px;
}

h3 { border-style: solid;
  border-color: white;
  
}
